@tailwind base;
@tailwind components;
@tailwind utilities;


::selection{
    background-color:#475b6c;
    color: #e5dce2;
}

@font-face {
    font-family: Chillax;
    src: url('./assets/fonts/Chillax-Variable.ttf');
}
@font-face {
    font-family: Bonny;
    src: url('./assets/fonts/Bonny-Variable.ttf');
}
*{
    font-family: Chillax;
}
body{
    /* background-color: #b0f2b5; */
    background-color: #d9f99d;
    
}

::-webkit-scrollbar{
    width: 6px;
    height: 8px;
}
::-webkit-scrollbar-thumb{
    background-color:#1a535c;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background-color:#1b1d1e;
    border-radius: 10px;
}
  